<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" IgnorableNamespaces="uap mp uap3">
  <Identity Name="4bc09f6a-9c17-43be-91aa-950f99cecd60" Publisher="CN=Douglas" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4bc09f6a-9c17-43be-91aa-950f99cecd60" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>wiiConnect</DisplayName>
    <PublisherDisplayName>Douglas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="wiiConnect.App">
      <uap:VisualElements DisplayName="wiiConnect" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="wiiConnect" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="remoteSystem" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="humaninterfacedevice">
      <Device Id="any">
        <Function Type="usage:0001 FFFF"/>
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>